@import url(https://fonts.googleapis.com/css?family=Montserrat);

a {
  color:#7289DA;
}

.m{
  text-indent: 50px;
  
}

h1 {
  line-height: 72px;
  margin: 24px 0;
  color:#7289DA;
  text-align:center;
}

h5 {
   text-indent: 50px;
    line-height: 24px;
  font-size:1.1em;
  margin: 24px 0;
  font-weight:700;
  color:#bbbbc4;
}
h3 {
  line-height: 24px;
  margin: 24px 0;
  color:#7289DA;
}

h4 {
  text-indent: 50px;
    line-height: 24px;
  margin: 24px 0;
  color:#bbbbc4;
 
}

h6{
  line-height:24px;
  color:#fc3565;
}

h6 span{
  color:white;
  float:right;
}

p {
  text-indent: 50px;
  line-height: 24px;
  margin: 24px 3;
  color:#99AAB5;
}

ul{
   text-indent: 50px;
  line-height: 24px;
  margin: 24px 0;
  color:#bbbbc4;
}

BODY {
  background: #2C2F33;
  -webkit-font-smoothing: antialiased;
   font-family: 'Montserrat';
  font-weight:500;
  height: 100%;
}

mark.streamer {
    color:#c2becc;
    font-size: 1.03em;
  background: none;
  }

mark.purple {
    color:#bcb9c9;
    font-size: 1.03em;
  background: none;
  }

mark.purple1 {
    color:#faf7fe;
    font-size: 1.03em;
  background: none;
  }

mark.aside {
  color:#917f87;
  font-weight:700;
  background: none;
    font-size: 1.06em;
}

p.aside{
  text-indent: 50px;
   color:#917f87;
  font-weight:700;
    font-size: 1.06em;
  
}

mark.bold {
  background: none;
   font-family: 'Montserrat';
  font-weight:900;
 
}